<mat-label>Patient</mat-label>
<form [formGroup]="patientFormGroup" (ngSubmit)="submit()">
   <div class="tp-container">
      <div>
         <mat-form-field appearance="standard">
            <mat-label>First Name*</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName">
            <mat-error *ngIf="errorHandler('firstName','required')">
               First Name is required!
            </mat-error>
         </mat-form-field>
         <mat-form-field appearance="standard">
            <mat-label>Middle Name</mat-label>
            <input matInput placeholder="Middle Name" formControlName="middleName">
         </mat-form-field>
         <mat-form-field appearance="standard">
            <mat-label>Last Name*</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName">
            <!-- <mat-error *ngIf="errorHandler('lastName','required')">
               Last Name is required!
            </mat-error> -->
         </mat-form-field>
      </div>
      <div>
         <mat-radio-group class="tp-radio-group" aria-label="Select an option" formControlName="gender">
            <mat-radio-button class="tp-radio-button" value="Male">Male</mat-radio-button>
            <mat-radio-button class="tp-radio-button" value="Female">Female</mat-radio-button>
            <mat-radio-button class="tp-radio-button" value="Other">Other</mat-radio-button>
         </mat-radio-group>
      </div>
      <div>
         <mat-form-field appearance="standard" class="ageTxt">
            <mat-label>Age*</mat-label>
            <input matInput placeholder="Age" formControlName="age">
            <!-- <mat-error *ngIf="errorHandler('age','required')">
               Age is required!
            </mat-error> -->
         </mat-form-field>
      </div>
      <div>
         <mat-form-field appearance="standard">
            <mat-label>Mobile No*</mat-label>
            <input matInput placeholder="Mobile No" formControlName="mobileNo">
            <!-- <mat-error *ngIf="errorHandler('mobileNo','required')">
               Mobile No. is required!
            </mat-error> -->
         </mat-form-field>
         <mat-form-field appearance="standard">
            <mat-label>Emergency Contact No</mat-label>
            <input matInput placeholder="Emergency Contact No" formControlName="emergencyContactNo">
         </mat-form-field>
      </div>
      <mat-form-field appearance="standard">
         <mat-label>Address*</mat-label>
         <textarea matInput placeholder="Address" formControlName="address"></textarea>
         <!-- <mat-error *ngIf="errorHandler('address','required')">
            Address is required!
         </mat-error> -->
      </mat-form-field>
   </div>
   <div>      
      <button mat-raised-button color="primary" class="nextButton">
         Save & Queue
      </button>
      <button mat-raised-button color="primary" type="button" class="nextButton" (click)="reset()">
        Reset
      </button>
   </div>
</form>