<p style="font-size: 30px;">login works!</p>

﻿<div>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
            <div class="form-group">
                <label for="username">User Name:</label>
                <!-- <input type="text" id="username" formControlName="username" class="formControl"> -->
                <mat-form-field>
                    <mat-label></mat-label>
                    <input placeholder="UserName">
                  </mat-form-field>
            </div>
            <div *ngIf="isEmptyUserName()"
                class="alert alert-danger">
                <div *ngIf="lf.username.errors.required">Username is required</div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <!-- <input type="text" id="password" formControlName="password" class="formControl"> -->
                <mat-form-field>
                    <mat-label></mat-label>
                    <input placeholder="Password">
                  </mat-form-field>
            </div>
            <div *ngIf="isEmptyPassword()"
                class="alert alert-danger">
                <div *ngIf="lf.password.errors.required">Password is required</div>
                <div *ngIf="lf.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            <button mat-raised-button color="primary">
                Login
            </button>
        </form>
    </div>
</div>
