<mat-tab-group>
    <mat-tab label="Dashboard" routelink="/dashboard">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="Patient"  routelink="/patient">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="About"  routelink="/about">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="Support"  routelink="/support">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
</mat-tab-group>