<button mat-button routerLink="/dashboard">Dashboard</button>
<button mat-button routerLink="/patient">Patient</button>
<!-- <mat-tab-group>
    <mat-tab label="Dashboard" routerLink="/dashboard">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="Patient"  routerLink="/patient">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="About"  routerLink="/about">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="Support"  routerLink="/support">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
</mat-tab-group> -->